/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/******* BELOW 464px ******/
/**************************/

@media (max-width: 29em) {
  html {
    /* Now 1rem = 10px */
    /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
    font-size: 40%;
  }
}

/**************************/
/******* BELOW 384px ******/
/**************************/
@media (max-width: 24em) {
  html {
    /* Now 1rem = 10px */
    /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
    font-size: 24%;
  }
}
/**************************/
/******* BELOW 336px ******/
/**************************/
@media (max-width: 21em) {
  html {
    /* Now 1rem = 10px */
    /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
    font-size: 16%;
  }
}

/**************************/
/******* BELOW 304px ******/
/**************************/
@media (max-width: 18em) {
  html {
    /* Now 1rem = 10px */
    /* (62.5% = 10/16 bc by default font-size=16px and we want font-size=10px) */
    font-size: 12%;
  }
}
